body {
  margin: 0;

  background-image: url("assets/homepage.bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Galindo", sans-serif;

  overflow: hidden;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  background: linear-gradient(#a99c9c, #a99c9c63);
  padding-top: 1%;
  padding-bottom: 10px;
  border-top: 10px double #000000;

  box-shadow: 0px 12px 35px 2px #231818;
}

.nav-button {
  display: flex;
  min-width: 10%;

  background-color: #ffffffa0;
  border: 3.5px ridge #1f1f1f;
  border-radius: 24px;

  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  .nav-button a:hover {
    color: rgb(104, 22, 22);
  }
}

.nav-button:hover {
  scale: 1.05;
  background-color: #fff;
}

.nav-button a {
  color: rgb(255, 204, 1);
  text-decoration: none;
  padding: 10px;

  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #3269b2ff;

  text-shadow: -1px 1px 2px #040404c0;
}

.nav-button a:hover {
  text-decoration: underline;
}

header {
  background: linear-gradient(#661a1a 10%, #7e1c1c 50%, #541515 100%);
  border-bottom: 7px double transparent;
  color: white;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 56px;
  -webkit-text-stroke: 1px #3269b2ff;
  color: #ffcb05ff;
  margin: 0;
  padding: 0;

  text-shadow: 0px 1px 5px #d0cece76;
}

.btn {
  display: inline-block;
  background: #461111;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

section {
  padding: 100px;
  margin: 20px;
  background: transparent;
  border-radius: 10px;
}

.detail-box {
  margin-top: 20px;
}

.intro {
  background: transparent;
  padding: 30px 20px;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.intro-image img {
  width: 500px;
}

.intro-text {
  max-width: 500px;
  max-height: 400px;
}

.intro-text h1 {
  font-size: 3rem;
  color: white;
}

.intro-text p {
  color: white;
  margin: 20px 0;
  font-size: 0.9rem;
}

.intro-text button_take_quiz {
  display: flex;
  background: #461111;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.intro-text button {
  background: #461111;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.genButton:hover {
  transform: scale(0.95);
  transition: 0.2s;
}
.result-box {
  margin-top: 20px;
  margin-left: 2%;
  padding: 20px;
  background: white;
  color: #461111;
  border-radius: 10px;
  text-align: center;

  width: 600px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.quiz-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}
.quiz-buttons {
  background: white;
  padding: 30px;
  border-radius: 15px;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: left;
  margin-left: 2%;
  gap: 15px 30px;
}
.genButton {
  width: 120px;
  height: 60px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
}

.right-side img {
  max-width: 100%;
  height: auto;
  display: block;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: auto;
  height: 400px;
}

.quiz-container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
}

.quiz-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
  margin-left: 0;
}

.quiz-right img {
  width: 600px;
  height: auto;
  margin-top: 50px;
  margin-left: 70px;
}

.type-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px 30px;
}

.type {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 60px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
}

.type:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

/* Pokémon type colors  on types section*/
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c850;
}
.electric {
  background-color: #f8d030;
  color: black;
}
.psychic {
  background-color: #f85888;
}
.normal {
  background-color: #a8a878;
}
.fighting {
  background-color: #c03028;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.poison {
  background-color: #a040a0;
}
.flying {
  background-color: #a890f0;
}
.ground {
  background-color: #e0c068;
  color: black;
}
.dragon {
  background-color: #7038f8;
}
.ice {
  background-color: #98d8d8;
  color: black;
}
.bug {
  background-color: #a8b820;
}
.steel {
  background-color: #b8b8d0;
  color: black;
}
.dark {
  background-color: #705848;
}
.fairy {
  background-color: #ee99ac;
}

#typesImage {
  width: 450px;
  height: auto;
}

.trainer-layout {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  color: white;
}
#trainerImage {
  width: 450px;
  height: auto;
}

.trainer-left {
  width: 60%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 80vh;
  gap: 20px;
}

.card-row {
  width: 70%;
  padding: 15px 20px;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  color: #461111;
}

.label-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.value-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

#starterImage {
  width: 120px;
  height: auto;
}

.trainer-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainer-right img {
  width: 300px;
  height: auto;
}

.timeline-page {
  background: #1f1f1f;
  color: white;
  overflow-x: auto;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1600px;
  padding: 280px 50px 120px 50px;
}

.timeline-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transform: translateY(-50%);
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.timeline-item h3 {
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

.timeline-line-up::before,
.timeline-line-down::before {
  content: "";
  position: absolute;
  width: 2px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-line-up::before {
  bottom: 50%;
  top: auto;
  height: 220px;
}

.timeline-line-down::before {
  top: 50%;
  bottom: auto;
  height: 220px;
}

.timeline-line-up::after,
.timeline-line-down::after {
  content: "";
  position: absolute;

  width: 12px;
  height: 12px;
}

.timeline-line-up::after {
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;

  left: 50%;
  transform: translateX(-50%);

  top: calc(50% - 235px);
}

.timeline-line-down::after {
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;

  left: 50%;
  transform: translateX(-50%);

  top: calc(50% + 220px);
}

.timeline-pokeball {
  width: 110px;
  position: relative;
  z-index: 2;
}

.timeline-content {
  font-weight: 400;
  left: 50%;
  position: absolute;
  width: 250px;
  font-size: 14px;
}

.timeline-content.top {
  font-weight: 700;
  color: rgb(226, 226, 226);
  bottom: 90px;
}
.button-row {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.timeline-content.bottom {
  font-weight: 700;
  color: rgb(226, 226, 226);
  top: 90px;
}

.timeline-content span {
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
  margin-left: 10px;
}
.timeline-content p {
  text-align: left;
  font-size: 10px;
  line-height: 1.4;
  margin: 20px 10px;
}

.timeline-content h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  white-space: nowrap;
  z-index: 10;

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.timeline-item:nth-child(1) h3 {
  top: 50px;
}

.timeline-item:nth-child(2) h3 {
  bottom: -140px;
  left: 0px;
}

.timeline-item:nth-child(3) h3 {
  top: 210px;
  left: 0px;
}

.timeline-item:nth-child(4) h3 {
  bottom: -139px;
  left: 0px;
}

.timeline-item:nth-child(5) h3 {
  top: 210px;
  left: 0px;
}

.timeline-item:nth-child(6) h3 {
  bottom: -158px;
  left: 0px;
}

.timeline-item:nth-child(7) h3 {
  top: 210px;
  left: 0px;
}

.timeline-item:nth-child(8) h3 {
  bottom: -135px;
  left: 0px;
}

.timeline-item:nth-child(9) h3 {
  top: 210px;
  left: 0px;
}

.timeline-item:nth-child(10) h3 {
  bottom: -155px;
  left: 0px;
}
