:root {
  --base-color: #510f0f;
  --line-color: #9f8f8f;
  --poketext-color: #ffcc01;
  --pokestroke-color: #3269b2ff;
  --hover-color-1: #853636a8;
  --accent-color: #ece2c4;
  --dropdown-color: rgb(242, 217, 142);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Galindo, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-image: url("assets/homepage.bg.png");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: auto 1fr;
}

/* sidebar main styles */
.logo {
  font-size: 26px;
}

.menu-text {
  font-size: 18px;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-color);
  border-right: 1px solid var(--line-color);

  position: sticky;
  top: 0;
  align-self: start;

  transition: 300ms ease-in-out;
  overflow: hidden;

  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 65px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: bold;
  }
}

#sidebar ul li.active button {
  span,
  img {
    scale: 1.25;
    opacity: 1;
  }
}

#sidebar a > img,
.dropdown-button > img {
  opacity: 0.65;
}

#sidebar a,
#sidebar .dropdown-button,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;

  color: var(--poketext-color);
  -webkit-text-stroke: 0.6px var(--pokestroke-color);

  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar a > span,
.dropdown-button span {
  opacity: 0.8;
}

#sidebar img,
#sidebar svg {
  flex-shrink: 0;
  fill: var(--dropdown-color);
}

#sidebar a span,
#sidebar .dropdown-button,
.dropdown-button > span {
  flex-grow: 1;

  padding-left: 1em;
}

#sidebar a:hover,
#sidebar .dropdown-button:hover {
  background-color: var(--hover-color-1);
}

/* dropdown menu styles */

.dropdown-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown-button svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu a {
  padding-left: 2em;
  opacity: 0.8;
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

#toggle-button {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-button:hover {
  background-color: var(--hover-color-1);
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  padding-top: 2%;
}

.section {
  margin-bottom: 80px;
}

.section h2 {
  color: var(--poketext-color);
  -webkit-text-stroke: 0.6px var(--pokestroke-color);
}

.section p {
  margin-bottom: 20px;
  color: #ccc;
  line-height: 1.5;
}

li > strong {
  font-size: 19px;
  font-weight: lighter;
}

.box {
  background: #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.box.types {
  height: 650px;
}

.box.total {
  height: 520px;
}

.box.starters {
  height: 720px;
}

/* ===================== */
/* IFRAME STYLING */
/* ===================== */
iframe {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  border-radius: 10px;
  overflow-x: auto;
}

/* ===================== */
/* DIVIDER */
/* ===================== */
.divider {
  height: 1px;
  background: #333;
  margin: 60px 0;
}
.box.legendary {
  height: 800px;
}

.vis-guide {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  margin: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
}

.vis-guide p {
  margin: 0 0 15px 0 !important;
  font-size: 24px;
  font-weight: bold;
  color: var(--poketext-color);
  -webkit-text-stroke: 0.1px #ffffff96;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.vis-guide ul {
  line-height: 1.8;
  margin: 0;
  padding-left: 20px;
  list-style-type: "▸ ";
}

.vis-guide {
  color: #f9f8f8b5;
}

.vis-guide strong {
  color: #fff;
}
