body {
  margin: 0;
  font-family: "Galindo", sans-serif;
  background: #111;
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  background: linear-gradient(#a99c9c, #a99c9c63);
  padding-top: 1%;
  padding-bottom: 10px;
  border-top: 10px double #000000;

  margin-bottom: 20px;

  box-shadow: 0px 12px 35px 2px #231818;
}

.nav-button {
  display: flex;
  min-width: 10%;

  background-color: #ffffffa0;
  border: 3.5px ridge #1f1f1f;
  border-radius: 24px;

  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  .nav-button a:hover {
    color: rgb(104, 22, 22);
  }
}

.nav-button:hover {
  scale: 1.05;
  background-color: #fff;
}

.nav-button a {
  color: rgb(255, 204, 1);
  text-decoration: none;
  padding: 10px;

  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #3269b2ff;

  text-shadow: -1px 1px 2px #040404c0;
}

.nav-button a:hover {
  text-decoration: underline;
}

header {
  background: linear-gradient(#661a1a 10%, #7e1c1c 50%, #541515 100%);
  border-bottom: 7px double transparent;
  color: white;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 56px;
  -webkit-text-stroke: 1px #3269b2ff;
  color: #ffcb05ff;
  margin: 0;
  padding: 0;

  text-shadow: 0px 1px 5px #d0cece76;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

.section {
  margin-bottom: 80px;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.section p {
  margin-bottom: 20px;
  color: #ccc;
  line-height: 1.5;
}

.box {
  background: #1b1b1b;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.box.types {
  height: 650px;
}

.box.total {
  height: 520px;
}

.box.starters {
  height: 720px;
}

/* ===================== */
/* IFRAME STYLING */
/* ===================== */
iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  overflow-x: auto;
}

/* ===================== */
/* DIVIDER */
/* ===================== */
.divider {
  height: 1px;
  background: #333;
  margin: 60px 0;
}
.box.legendary {
  height: 800px;
}

.vis-guide {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  margin: 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
}

.vis-guide p {
  margin: 0 0 15px 0 !important;
  font-weight: bold;
  color: #fffb05;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.vis-guide ul {
  line-height: 1.8;
  margin: 0;
  padding-left: 20px;
  list-style-type: "▸ ";
}

.vis-guide strong {
  color: #fff;
}
