body {
  color: white;
}
.type-display {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 30px 0 15px 0;
  padding: 10px;

  font-size: 40px;
  font-weight: 800;
}

h3 {
  text-align: center;
  color: #efefef;
  -webkit-text-stroke: 1px #1f1f1f;
  margin: 2px 0 15px 0;
  padding: 0;

  font-size: 24px;
  font-weight: 300; /* skinny/light */
}

.btn:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

section {
  padding: 100px;
  margin: 20px;
  background: transparent;
}

.detail-box {
  margin-top: 20px;
}

.buttons {
  margin-bottom: 15px;
}

button {
  padding: 10px 14px;
  margin: 5px;

  cursor: pointer;

  color: white;
  transition: 0.2s;
}

#vis {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.box {
  height: auto;
  min-height: 200px;
  overflow: visible;
  margin-bottom: 20px;
}
.box iframe {
  width: 100%;
  height: auto; /* let JS control it */
  border: none;
  display: block;
  overflow: hidden;
}
iframe {
  width: 100%;
  height: auto;
  min-height: 400px;
  border: none;
  display: block;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.sunburst-vis {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.sunburst-vis h1 {
  margin-bottom: 10px;
}

.sunburst-vis #chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sunburst-vis #tooltip {
  position: absolute;
  background: rgba(8, 7, 7, 0.85);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  pointer-events: none;
  display: none;
  max-width: 250px;
}

.sunburst-vis .tooltip-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 12px;

  max-width: 260px;
}

.sunburst-vis .tooltip-sprite {
  width: 56px;
  height: 56px;
  image-rendering: pixelated;
}

.sunburst-vis .tooltip-text {
  text-align: left;
}

.sunburst-vis .tooltip-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.sunburst-vis .tooltip-sub {
  font-size: 11px;
  color: #ccc;
}

.sunburst-page {
  margin: 0;
  color: #1f1f1f;
}
