:root {
  --base-color: #510f0f;
  --line-color: #9f8f8f;
  --poketext-color: #ffcc01;
  --pokestroke-color: #3269b2ff;
  --hover-color-1: #853636a8;
  --accent-color: #ece2c4;
  --dropdown-color: rgb(242, 217, 142);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Galindo, sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-image: url("../../assets/homepage.bg.png");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

/* sidebar main styles */
.logo {
  font-size: 26px;
}

.menu-text {
  font-size: 18px;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-color);
  border-right: 1px solid var(--line-color);

  position: sticky;
  top: 0;
  align-self: start;

  transition: 300ms ease-in-out;
  overflow: hidden;

  line-height: 1.5rem;
  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 65px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: bold;
  }
}

#sidebar ul li.active a {
  span,
  img {
    scale: 1.15;
    opacity: 1;
  }
}

#sidebar a > img,
.dropdown-button > img {
  opacity: 0.65;
}

#sidebar a,
#sidebar .dropdown-button,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;

  color: var(--poketext-color);
  -webkit-text-stroke: 0.6px var(--pokestroke-color);

  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar a > span,
.dropdown-button span {
  opacity: 0.8;
}

#sidebar img,
#sidebar svg {
  flex-shrink: 0;
  fill: var(--dropdown-color);
}

#sidebar a span,
#sidebar .dropdown-button,
.dropdown-button > span {
  flex-grow: 1;

  padding-left: 1em;
}

#sidebar a:hover,
#sidebar .dropdown-button:hover {
  background-color: var(--hover-color-1);
}

/* dropdown menu styles */

.dropdown-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.dropdown-button svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu a {
  padding-left: 2em;
  opacity: 0.8;
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

#toggle-button {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-button:hover {
  background-color: var(--hover-color-1);
}

/* quiz styles */

.page-heading {
  font-size: 42px;
  text-anchor: middle;
  dominant-baseline: middle;

  fill: var(--poketext-color);
  stroke: var(--pokestroke-color);
  stroke-width: 3px;

  text-shadow: -0.5px 1.5px 7px #ffffff81;
}

.quiz-h1 {
  font-size: 28px;
  fill: #fff;
  stroke: #000;
  stroke-width: 1.3px;

  text-shadow: -0.5px 3px 7px #04040481;
}

.option-button {
  rx: 24;
  stroke: #936f6b;
  stroke-width: 3px;
}

.button-group:hover .option-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.94);
  transition: 0.2s ease;
}

.option-text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 18px;

  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.7px;
  text-shadow: -0.5px 2px 3px #04040481;
}

.button-group:hover .option-text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.94);
  transition: 0.2s ease;
}

.selected-button {
  stroke: #a74a37b3;
  stroke-width: 7px;
}

.button-group:hover .selected-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);
}

.selected-button-text {
  fill: #622f21;
  stroke: #ffffff8c;
  stroke-width: 0.7px;
  text-shadow: -0.5px 2px 5px #ffffff81;
}

.button-group:hover .selected-button-text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);
}

.unselected-button {
  opacity: 0.5;
  stroke: #1f1f1f;

  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.9);
}

.button-group:hover .unselected-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.86);
  transition: 0.2s ease;
}

.unselected-button-text {
  font-size: 14px;
  fill: #1f1f1f;
  stroke: #ffffff3f;
  text-shadow: none;
  opacity: 0.9;
}

/* results styles */

.result-box {
  fill: #ffffffe0;
  stroke: #000000c3;
  stroke-width: 5px;

  rx: 15;
}

.result-text {
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: middle;

  fill: #ffcc01;
  stroke: #3269b2ff;
  text-shadow: -0.5px 1px 3px #03030381;
}

.result-card {
  fill: #a61530;
  stroke: #1f1f1f;
  stroke-width: 3px;

  rx: 15;
}

.result-h1 {
  text-anchor: middle;
  dominant-baseline: middle;

  font-size: 30px;
  fill: #30fbf1;
  stroke: #00000063;
  stroke-width: 1.6px;
  text-shadow: -0.5px 1.5px 4px #04040481;
}

.result-h2 {
  text-anchor: middle;
  text-align: center;

  color: #2d2626;
  -webkit-text-stroke: 0.5px #c6b9b9;

  fill: #fff;
  stroke: #000;
  stroke-width: 0.5px;

  text-shadow: -0.5px 1px 1px #04040481;
}

.result-caption {
  text-anchor: middle;
  dominant-baseline: middle;

  font-size: 14px;
  font-style: italic;
  fill: #a45065e0;

  stroke-width: 1.3px;
}

.result-body {
  font-size: 11px;
  color: #b1aeae;
}

.result-body-feature {
  text-decoration: underline;
  color: #151515;
}

.bg-rect {
  fill: #f1f0ec;
}

.sub-rect {
  fill: #23798ab3;
}

.result-button rect {
  rx: 6;
  fill: #1f1f1f;
  stroke: #ffffffab;
  stroke-width: 2px;
}

.result-button:hover {
  opacity: 0.9;
}

.result-button:hover rect {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.99);

  transition: all 0.1s ease;
}

.result-button:hover text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.99);

  text-decoration: underline;
  transition: all 0.1s ease;
}

.result-button-text {
  text-anchor: middle;

  fill: #ffcc01;
  stroke: #3269b2ff;
  stroke-width: 0.8px;
}
