/* body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin: 0;

  background-image: url("../../assets/homepage.bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Galindo", sans-serif;

  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  background: linear-gradient(#a99c9c, #a99c9c63);
  padding-top: 1%;
  padding-bottom: 10px;
  border-top: 10px double #000000;

  box-shadow: 0px 12px 35px 2px #231818;
}

.nav-button {
  display: flex;
  min-width: 10%;

  background-color: #ffffffa0;
  border: 3.5px ridge #1f1f1f;
  border-radius: 24px;

  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  .nav-button a:hover {
    color: rgb(104, 22, 22);
  }
}

.nav-button:hover {
  scale: 1.05;
  background-color: #fff;
}

.nav-button a {
  color: rgb(255, 204, 1);
  text-decoration: none;
  padding: 10px;

  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #3269b2ff;

  text-shadow: -1px 1px 2px #040404c0;
}

.nav-button a:hover {
  text-decoration: underline;
} */

:root {
  --base-color: #510f0f;
  --line-color: #9f8f8f;
  --poketext-color: #ffcc01;
  --pokestroke-color: #3269b2ff;
  --hover-color-1: #853636a8;
  --accent-color: #ece2c4;
  --dropdown-color: rgb(242, 217, 142);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Galindo, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-image: url("../../assets/homepage.bg.png");
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: auto 1fr;
}

/* sidebar main styles */
.logo {
  font-size: 26px;
}

.menu-text {
  font-size: 18px;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-color);
  border-right: 1px solid var(--line-color);

  position: sticky;
  top: 0;
  align-self: start;

  transition: 300ms ease-in-out;
  overflow: hidden;

  text-wrap: nowrap;
}

#sidebar.close {
  padding: 5px;
  width: 65px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo {
    font-weight: bold;
  }
}

#sidebar ul li.active a {
  span,
  img {
    scale: 1.15;
    opacity: 1;
  }
}

#sidebar a > img,
.dropdown-button > img {
  opacity: 0.65;
}

#sidebar a,
#sidebar .dropdown-button,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;

  color: var(--poketext-color);
  -webkit-text-stroke: 0.6px var(--pokestroke-color);

  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar a > span,
.dropdown-button span {
  opacity: 0.8;
}

#sidebar img,
#sidebar svg {
  flex-shrink: 0;
  fill: var(--dropdown-color);
}

#sidebar a span,
#sidebar .dropdown-button,
.dropdown-button > span {
  flex-grow: 1;

  padding-left: 1em;
}

#sidebar a:hover,
#sidebar .dropdown-button:hover {
  background-color: var(--hover-color-1);
}

/* dropdown menu styles */

.dropdown-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.dropdown-button svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu a {
  padding-left: 2em;
  opacity: 0.8;
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

#toggle-button {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

#toggle-button:hover {
  background-color: var(--hover-color-1);
}

header {
  background: linear-gradient(#661a1a 10%, #7e1c1c 50%, #541515 100%);
  border-bottom: 7px double transparent;
  color: white;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 56px;
  -webkit-text-stroke: 1px #3269b2ff;
  color: #ffcb05ff;
  margin: 0;
  padding: 0;

  text-shadow: 0px 1px 5px #d0cece76;
}

.quiz-h1 {
  font-size: 28px;
  fill: #fff;
  stroke: #000;
  stroke-width: 1.3px;

  text-shadow: -0.5px 3px 7px #04040481;
}

.option-button {
  rx: 24;
  stroke: #936f6b;
  stroke-width: 3px;
}

.button-group:hover .option-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.94);
  transition: 0.2s ease;
}

.option-text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 16px;

  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.7px;
  text-shadow: -0.5px 2px 3px #04040481;
}

.button-group:hover .option-text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.94);
  transition: 0.2s ease;
}

.selected-button {
  stroke: #a74a37b3;
  stroke-width: 7px;
}

.button-group:hover .selected-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);
}

.selected-button-text {
  fill: #622f21;
  stroke: #ffffff8c;
  stroke-width: 0.7px;
  text-shadow: -0.5px 2px 5px #ffffff81;
}

.button-group:hover .selected-button-text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1);
}

.unselected-button {
  opacity: 0.5;
  stroke: #1f1f1f;

  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.9);
}

.button-group:hover .unselected-button {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.86);
  transition: 0.2s ease;
}

.unselected-button-text {
  font-size: 14px;
  fill: #1f1f1f;
  stroke: #ffffff3f;
  text-shadow: none;
  opacity: 0.9;
}

.result-box {
  fill: #ffffffe0;
  stroke: #000000c3;
  stroke-width: 5px;

  rx: 15;
}

.result-text {
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: middle;

  fill: #ffcc01;
  stroke: #3269b2ff;
  text-shadow: -0.5px 1px 3px #03030381;
}

.result-card {
  fill: #b4995a;
  stroke: #000000;
  stroke-width: 3px;

  rx: 15;
}

.result-h1 {
  text-anchor: middle;
  dominant-baseline: middle;

  font-size: 30px;
  fill: #ffffff;
  stroke: #000;
  stroke-width: 1.3px;
  text-shadow: -0.5px 1.5px 4px #04040481;
}

.result-h2 {
  text-anchor: middle;
  text-align: center;

  color: #6c0505;
  -webkit-text-stroke: 0.7px #817a7a;

  fill: #fff;
  stroke: #000;
  stroke-width: 0.5px;

  text-shadow: -0.5px 1px 1px #04040481;
}

.result-caption {
  text-anchor: middle;
  dominant-baseline: middle;

  font-size: 14px;
  font-style: italic;
  fill: #3f3b3c;

  stroke-width: 1.3px;
}

.result-body {
  font-size: 11px;
  color: #323232;
}

.bg-rect {
  fill: #d9caab;
}

.result-button rect {
  rx: 5;
  fill: #1f1f1f;
}

.result-button:hover {
  opacity: 0.9;
}

.result-button:hover rect {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.99);

  transition: all 0.1s ease;
}

.result-button:hover text {
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.99);

  text-decoration: underline;
  transition: all 0.1s ease;
}

.result-button-text {
  text-anchor: middle;

  fill: #ffcc01;
  stroke: #3269b2ff;
  stroke-width: 0.7px;
}
